<div class="kit-layer">
  <div class="card undefined card__horizontal  card__material">
    <div class="card__background" [style.background]="'url(' + material.imgUrl + ')'" [style.background-size]="'cover'">
    </div>
    <div class="card__body">
      <div class="card__material-type"><span class="icon icon__m-size-custom"
          style="width: 20px; height: 20px; color: rgb(255, 255, 255);"><svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 15">
            <g fill="none" fill-rule="evenodd">
              <path d="M-4-5h24v24H-4z"></path>
              <path fill="currentColor" fill-rule="nonzero"
                d="M1.333 0C.597 0 0 .61 0 1.364v9.545c0 .753.597 1.364 1.333 1.364h13.334c.736 0 1.333-.61 1.333-1.364V1.364C16 .61 15.403 0 14.667 0H1.333zm0 1.364h1.334v1.363H1.333V1.364zm12 0h1.334v1.363h-1.334V1.364zm-12 2.727h1.334v1.364H1.333V4.09zm12 0h1.334v1.364h-1.334V4.09zm-12 2.727h1.334v1.364H1.333V6.818zm12 0h1.334v1.364h-1.334V6.818zm-12 2.727h1.334v1.364H1.333V9.545zm12 0h1.334v1.364h-1.334V9.545zm-8.666 4.091a.664.664 0 0 0-.586.338.695.695 0 0 0 0 .688.664.664 0 0 0 .586.338h6.666a.664.664 0 0 0 .586-.338.695.695 0 0 0 0-.688.664.664 0 0 0-.586-.338H4.667z">
              </path>
            </g>
          </svg></span></div>
      <div class="card__header">
        <h2 class="card__title" style="font-weight: 600;">{{material.name}}</h2>
      </div>
      <div class="card__info "><span class="card__info-counter"><span></span></span></div>
      <div class="card__rating"><span><span class="icon icon__m-size-small"
            style="width: 16px; height: 16px; color: rgb(255, 201, 0);"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18">
              <path fill="currentColor"
                d="M9 14.466L14.562 18l-1.476-6.66L18 6.859l-6.47-.578L9 0 6.47 6.281 0 6.86l4.914 4.481L3.438 18z">
              </path>
            </svg></span></span><span><span class="icon icon__m-size-small"
            style="width: 16px; height: 16px; color: rgb(255, 201, 0);"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18">
              <path fill="currentColor"
                d="M9 14.466L14.562 18l-1.476-6.66L18 6.859l-6.47-.578L9 0 6.47 6.281 0 6.86l4.914 4.481L3.438 18z">
              </path>
            </svg></span></span><span><span class="icon icon__m-size-small"
            style="width: 16px; height: 16px; color: rgb(255, 201, 0);"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18">
              <path fill="currentColor"
                d="M9 14.466L14.562 18l-1.476-6.66L18 6.859l-6.47-.578L9 0 6.47 6.281 0 6.86l4.914 4.481L3.438 18z">
              </path>
            </svg></span></span><span><span class="icon icon__m-size-small"
            style="width: 16px; height: 16px; color: rgb(255, 201, 0);"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18">
              <path fill="currentColor"
                d="M9 14.466L14.562 18l-1.476-6.66L18 6.859l-6.47-.578L9 0 6.47 6.281 0 6.86l4.914 4.481L3.438 18z">
              </path>
            </svg></span></span><span><span class="icon icon__m-size-small"
            style="width: 16px; height: 16px; color: rgb(255, 201, 0);"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18">
              <path fill="currentColor"
                d="M9 14.466L14.562 18l-1.476-6.66L18 6.859l-6.47-.578L9 0 6.47 6.281 0 6.86l4.914 4.481L3.438 18z">
              </path>
            </svg></span></span></div>
    </div>
  </div>
</div>
